<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="user" value="administrator" />
  <add key="password" value="Bilb0tor!" />
  <add key="domain" value="OFFICE" />
  <add key="url" value="http://odin:10200" />
  <!--INFORMATION PATH-->
  <add key="pathLOGs" value="E:\temp\PaperlessMaintenance\" />
  <add key="fileInformation" value="ESMA_PaperlessMaintenance_Log_" />
  <add key="fileExceptions" value="ESMA_PaperlessMaintenance_Exceptions_" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <!--Paperless Usage-->
  <add key="years" value="2017" />
  <add key="months" value="9,10" />
  <!--CR28_Nested Groups-->
  <add key="WFOrderListToUpdated" value="25" />
    </appSettings>
</configuration>